<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hi</h1>
    {% for student in list %}
        {% if list != None %}
        <h1>{{student.firstname}}</h1>
        <h1>{{student.lastname}}</h1>
        <h1>{{student.email}}</h1>
        <h1>{{student.age}}</h1>
        <h1>{{student.phone}}</h1>
        {% else %}
        <h3>not working!</h3>
        {% endif %}
    {% endfor %}
</body>
</html>